<script setup lang="ts">
//import TheWelcome from '../components/TheWelcome.vue'
import Presenter from '../components/Presenter.vue'
</script>

<template>
  <main>
    <!--TheWelcome /-->
    <Presenter />
  </main>
</template>
