
<template>
    <div class="container">

        <div class="toolbar mt-3">
            <button class="btn btn-primary" @click="importImage">Import Image</button>
            <button class="btn btn-secondary" @click="drawLine">Draw Line</button>
            <button class="btn btn-secondary" @click="drawArrow">Draw Arrow</button>
            <input type="range" min="1" max="10" v-model="lineThickness" class="custom-range" />
            <span class="font-weight-bold">Line Thickness: {{ lineThickness }}</span>
            <div class="mt-3">
                <button class="btn btn-secondary" @click="moveImageLeft">Move Left</button>
                <button class="btn btn-secondary" @click="moveImageRight">Move Right</button>
                <button class="btn btn-secondary" @click="moveImageUp">Move Up</button>
                <button class="btn btn-secondary" @click="moveImageDown">Move Down</button>
                <button class="btn btn-secondary" @click="centerImage">Center</button>
                <button class="btn btn-secondary" @click="zoomIn">Zoom In</button>
                <button class="btn btn-secondary" @click="zoomOut">Zoom Out</button>
            </div>
        </div>
        <canvas ref="canvas" />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { onMounted, ref } from 'vue';

export default defineComponent({
    data() {
        return {
            lineThickness: 1,
            image: {
                x: 0,
                y: 0,
                width: 0,
                height: 0,
            },
        };
    },
    methods: {
        // code to import image and render it on the canvas

        importImage()
        /*
            This function creates a file input element and adds a change event listener to it.
            When a file is selected, the function uses a FileReader to read the file and render it on the canvas.
            The accepted file type is set to 'image/*', which allows the user to select any image file. 
            In this example, the function calculates the aspect ratio of the image and determines the optimal width and height to fit the image on the canvas while maintaining the aspect ratio. 
            The image is then centered on the canvas and drawn with the calculated width and height.
        */ {
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = 'image/*';
            fileInput.addEventListener('change', (event: any) => {
                if (event.target.files && event.target.files[0]) {
                    const file = event.target.files[0];
                    const reader = new FileReader();
                    reader.onload = (e: any) => {
                        const image = new Image();
                        image.src = e.target.result;
                        image.onload = () => {
                            const canvasWidth = this.$refs.canvas.width;
                            const canvasHeight = this.$refs.canvas.height;
                            const imageAspectRatio = image.width / image.height;
                            let imageWidth = canvasWidth;
                            let imageHeight = canvasWidth / imageAspectRatio;
                            if (imageHeight > canvasHeight) {
                                imageHeight = canvasHeight;
                                imageWidth = canvasHeight * imageAspectRatio;
                            }
                            const x = (canvasWidth - imageWidth) / 2;
                            const y = (canvasHeight - imageHeight) / 2;
                            this.canvasContext.drawImage(image, x, y, imageWidth, imageHeight);
                        };
                    };
                    reader.readAsDataURL(file);
                }
            });
            fileInput.click();
        },

        // code to draw a line on the canvas with adjustable thickness

        drawLine()
         /*
        This function listens for mousedown, mousemove, and mouseup events on the canvas element. 
        When the user clicks and holds the mouse button, the function starts drawing a line on the canvas
        from the starting point to the current mouse position. When the user releases the mouse button, the function stops drawing the line. 
        The thickness of the line is set using the lineThickness data property. You can modify this function to fit your specific needs. 
        For example, you may want to add logic to save the drawn lines so they persist after the user releases the mouse button.
        */ {
            let isDrawing = false;
            let startX = 0;
            let startY = 0;
            let endX = 0;
            let endY = 0;

            this.$refs.canvas.addEventListener('mousedown', (event: any) => {
                isDrawing = true;
                startX = event.offsetX;
                startY = event.offsetY;
            });

            this.$refs.canvas.addEventListener('mousemove', (event: any) => {
                if (isDrawing) {
                    endX = event.offsetX;
                    endY = event.offsetY;
                    this.canvasContext.clearRect(0, 0, this.$refs.canvas.width, this.$refs.canvas.height);
                    this.canvasContext.beginPath();
                    this.canvasContext.moveTo(startX, startY);
                    this.canvasContext.lineTo(endX, endY);
                    this.canvasContext.lineWidth = this.lineThickness;
                    this.canvasContext.stroke();
                }
            });

            this.$refs.canvas.addEventListener('mouseup', () => {
                isDrawing = false;
            });
        },
        // code to draw an arrow on the canvas with adjustable thickness
        drawArrow()
        /*
        This function is similar to the drawLine() function, but it calls the drawArrowOnCanvas() function to draw an arrow on the canvas instead of a line. 
        The drawArrowOnCanvas() function calculates the angle between the starting and ending points and uses it to draw the arrowhead at the end of the line. 
        The thickness of the line is set using the lineThickness data property.
        */ {
                let isDrawing = false;
            let startX = 0;
            let startY = 0;
            let endX = 0;
            let endY = 0;

            this.$refs.canvas.addEventListener('mousedown', (event: any) => {
                isDrawing = true;
                startX = event.offsetX;
                startY = event.offsetY;
            });

            this.$refs.canvas.addEventListener('mousemove', (event: any) => {
                if (isDrawing) {
                    endX = event.offsetX;
                    endY = event.offsetY;
                    this.canvasContext.clearRect(0, 0, this.$refs.canvas.width, this.$refs.canvas.height);
                    this.drawArrowOnCanvas(startX, startY, endX, endY, this.lineThickness);
                }
            });

            this.$refs.canvas.addEventListener('mouseup', () => {
                isDrawing = false;
            });
        },

        drawArrowOnCanvas(startX: number, startY: number, endX: number, endY: number, lineThickness: number) {
            const headlen = 10;
            const angle = Math.atan2(endY - startY, endX - startX);

            this.canvasContext.beginPath();
            this.canvasContext.moveTo(startX, startY);
            this.canvasContext.lineTo(endX, endY);
            this.canvasContext.lineWidth = lineThickness;
            this.canvasContext.stroke();

            this.canvasContext.beginPath();
            this.canvasContext.moveTo(endX, endY);
            this.canvasContext.lineTo(endX - headlen * Math.cos(angle - Math.PI / 6), endY - headlen * Math.sin(angle - Math.PI / 6));
            this.canvasContext.lineTo(endX - headlen * Math.cos(angle + Math.PI / 6), endY - headlen * Math.sin(angle + Math.PI / 6));
            this.canvasContext.lineTo(endX, endY);
            this.canvasContext.lineTo(endX - headlen * Math.cos(angle - Math.PI / 6), endY - headlen * Math.sin(angle - Math.PI / 6));
            this.canvasContext.fill();
        },
        moveImageLeft() {
            this.image.x -= 10;
            this.renderImage();
        },
        moveImageRight() {
            this.image.x += 10;
            this.renderImage();
        },
        moveImageUp() {
            this.image.y -= 10;
            this.renderImage();
        },
        moveImageDown() {
            this.image.y += 10;
            this.renderImage();
        },
        centerImage() {
            this.image.x = (this.$refs.canvas.width - this.image.width) / 2;
            this.image.y = (this.$refs.canvas.height - this.image.height) / 2;
            this.renderImage();
        },
        zoomIn() { },
        zoomOut() { },

    },
    computed: {
        canvasContext() {
            return (this.$refs.canvas as any).getContext('2d');
        },
    },
    setup() {
        const canvas = ref<HTMLCanvasElement | null>(null);
        const gridSize = 20;

        onMounted(() => {
            if (canvas.value) {
                const ctx = canvas.value.getContext('2d');
                ctx.strokeStyle = '#ccc';
                ctx.lineWidth = 1;

                for (let i = 0; i < canvas.value.width / gridSize; i++) {
                    ctx.beginPath();
                    ctx.moveTo(i * gridSize + 0.5, 0);
                    ctx.lineTo(i * gridSize + 0.5, canvas.value.height);
                    ctx.stroke();
                }

                for (let i = 0; i < canvas.value.height / gridSize; i++) {
                    ctx.beginPath();
                    ctx.moveTo(0, i * gridSize + 0.5);
                    ctx.lineTo(canvas.value.width, i * gridSize + 0.5);
                    ctx.stroke();
                }
            }
        });

        return {
            canvas,
        };
    },


});
</script>


<style>
canvas {
    border: 1px solid #ccc;
}

.toolbar {
    display: flex;
    align-items: center;
}

button {
    margin-right: 0.5em;
}

input[type="range"] {
    width: 150px;
}
</style>
